@import "tailwindcss";



*{
  font-family: "Outfit", sans-serif;
}
/* Hide scrollbars globally */
body,
html {
  overflow-y: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


:root {
  --color-primary: #3F51B5;
  --color-primary-dull: #5C6BC0;
}

/* Dark mode */
.dark {
  --color-bg-light: #121212;
  --color-primary-white: #FFFFFF;
  --color-primary-black: #FFFFFF; /* text in dark mode */
}

.color-primary {
  color: var(--color-primary);
}
.color-primary-dull{
    color: var(--color-primary-dull);
}
.color-accent{
    color: var(--color-accent);
}
/* .no-scrollbar::-webkit-scrollbar{
  display: none;
} */

/* Add to your main CSS or index.css */

.title {
  color: var(--color-primary); /* your primary color in light mode */
  font-weight: bold;
  transition: color 0.3s ease;
}

.dark .title {
  color: var(--color-primary-dull); /* lighter or dull color for dark mode */
}

.logo {
  fill: var(--color-primary); /* for SVG logo */
  transition: fill 0.3s ease;
}

/* For dark mode, invert or change fill */
.dark .logo {
  fill: var(--color-primary-dull);
}
div[data-toolpad-header="true"] {
  display: none !important;
}
.MuiContainer-root {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
.MuiStack-root {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.MuiBox-root{
  margin-top: 0 !important;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.MuiBox-root::-webkit-scrollbar {
  display: none; 
}
.MuiBox-root.css-jylp6k {
  margin: 0 !important;
  padding: 0 !important;
}
.MuiBox-root.css-4w6qv3{
  margin: 0 !important;
  padding: 0 !important;
}
